/* src/components/Header/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.search-box {
  width: 450px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-info strong {
  color: #08060d;
}

.user-info span {
  color: gray;
  font-size: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #061d49;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}