.header-right-aligned {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-info strong {
  color: #08060d;
}

.user-info span {
  color: gray;
  font-size: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #061d49;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}